.u-w-100 {
	width: 100%;
}

.u-h-100 {
	height: 100%;
}

.u-color-w {
	color: #FFFFFF;
}

.u-color-3 {
	color: #333;
}

.u-color-6 {
	color: #666;
}

.u-color-9 {
	color: #999;
}

.u-bg-white {
	background-color: #FFFFFF;
}

.u-bg-f9 {
	background-color: #F9F9F9;
}

.u-oh {
	overflow: hidden;
}

.u-border-b {
	border-bottom: 1px solid #ddd;
}

.u-font-b {
	font-weight: bold;
}

.u-fixed {
	position: fixed;
}

.u-inb {
	display: inline-block;
}
